/* ------------------------------ google fonts ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.move{
    transform: translate(-101%);
    transition: 1500ms;
}

.rotate {
    transform: rotate(-180deg);
    transition: 1000ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
    transition: 1000ms;
}

.navBar {
    z-index: 100;
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 5vh;
}

.name {
    margin-left: 15px;
}

.name a{
    text-decoration: none;
    color: black;
}

.itemsContainer{
    position: absolute;
    transition: 1300ms;
    width: 100%;
    background-color: antiquewhite;
    position: fixed;
    bottom: 5vh;
}

.itemsList{
    width: 100%;
    list-style-type: none;
}

.item{
    margin-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
}

.item a {
    color: black;
    text-decoration: none;
}

.btnToggleMenu {
    margin-right: 15px;
    transition: 1000ms;
}


.main {
    background-color: antiquewhite;
}

.presentationContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    height: 100vh;
    width: 100%;
}

.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: lightcoral;
    height: 100vh;
    width: 100%;
}

.skillsContainer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: grey;
    height: 100vh;
    width: 100%;
}

.frontSkillsContainer{
    background-color: rgb(000, 000, 000,0.5);
    height: 30%;
    width: 100%;
    margin-right: 4vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.backSkillsContainer{
    background-color: rgb(000, 000, 000,0.5);
    height: 30%;
    width: 100%;
    margin-left: 4vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.extraSkillsContainer{
    background-color: rgb(000, 000, 000,0.5);
    height: 30%;
    width: 100%;
    margin-right: 4vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.proyectsContainer{
    background-color: orangered;
    height: 100vh;
    width: 100%;
}

.contactContainer {
    background-color: brown;
    height: 100vh;
    width: 100%;
}


@media(min-width:480px) {

    .navBar {
        background-color: aqua;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        top: 0px;
        position: fixed;
    }

}

@media(min-width:768px) {

    * {
        background-color: aquamarine;
    }

}

@media(min-width:1279px) {

    * {
        background-color: azure;
    }

}